.Navbar-css {
	background-color: rgb(51, 49, 49);
	color: white;
	padding: 20px 5px 20px 5px;
	display: flex;
	justify-content: space-between;
}
.Link-logo {
	text-decoration: none;
	color: white;
	margin-right: auto;
}
.Link-navbar {
	color: white;
	text-decoration: none;
	margin-left: 10px;
}
.hamburger {
	display: none;
}
.navbar-collapse {
	color: red;
}
.show-menu{
  display:none;
}
@media (max-width: 576px) {
	.navbar-right-container {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 10px;
		right: 30px;
		background-color: black;
		padding: 2px 10px 2px 2px;
		border-radius: 10%;
	}
	.show {
		display: flex;
	}
  .show-menu{
    display:flex;
  }
  .hide-button{
    display:none;
  }
  
}
